<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AdonisJS - A fully featured web framework for Node.js</title>
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap" rel="stylesheet">
  @include('partials/styles')
</head>

<body>

  <main>
    <div>
      <h1 class="title">Spot-API</h1>
      <p class="subtitle">Seja bem-vindo! Este servidor foi criado com AdonisJS.</p>
      <ul>
        <li>A rota para esta página está definida no arquivo <code>start/routes.ts</code></li>
        <li>Para atualizar esta página edite <code>resources/views/index.edge</code></li>
      </ul>
    </div>
  </main>
</body>

</html>
